.container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 40px;
  width: 60px;
  user-select: none;
  cursor: pointer;
}

.button:active {
  background-color: blue;
  color: white;
}