.container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AFA;
  height: 30px;
  width: 30px;
  user-select: none;
  cursor: pointer;
}

.button:active {
  //background-color: blue;
  color: white;
}

.input[type=range] {
  
}